body { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAaklEQVQYV2NkYGAwBuKzQAwC9UA8C4ifQ/n/GaEMkCIfIG6E8iWB9DMgZoQpAOncgmTSfyBbCmQSSAFIEqYTZNIZkE6YSSAGyDi4nUC2CbKb4CphdqK7CaYAbieSb8BuAikASSKblIbsJgCKXBfTNjWx1AAAAABJRU5ErkJggg==); background-color: #ddd; }
.frame { display: flex; flex-direction: column; left: 0.5em; right: 0.5em; top: 0.5em; bottom: 0.5em; position: fixed; white-space: pre; font-size: 14pt; font-family: "Courier", monospace; }
.menu-bar { background-color: black; color: white; display: none; box-shadow: 0 0 4px 2px #ddd; }
.menu-bar-mode .menu-bar { display: block; }
.window { display: flex; flex-wrap: nowrap; order: 0; flex: 1 1 auto; }
.minibuffer.window { flex: 0 1 auto; height: 1.2em; }
.split-window-horizontally { flex-direction: row; }
.split-window-vertically { flex-direction: column; }
.live.window, .menu-bar { border: 1px solid #bbb; }
.live.window { position: relative; }
.window > .buffer { position: absolute; overflow: hidden; width: 100%; top: 0; bottom: 1.2em; background: white; }
.window > .mode-line { position: absolute; bottom: 0; width: 100%; background-color: #ddd; overflow: hidden; border-top: 1px solid #ccc; }
.minibuffer.window > .buffer { bottom: 0; }
.window strong { font-weight: normal; text-shadow: 1px 0px 0px black; }
.point { z-index: 1; position: absolute; }
.point:before { opacity: 0; }
.point:after { content: " ";  }
.live.window:not(.minibuffer) .point:after { border: 1px solid darkgray; }
.selected.live.window .point:after { border: 1px solid darkgray; background: rgba(0, 0, 0, 0.2); -webkit-animation: blink-cursor-mode 1s steps(1) infinite; animation: blink-cursor-mode 1s steps(1) infinite; }
@-webkit-keyframes blink-cursor-mode { 0% { opacity: 0; } 50% { opacity: 1; } }
@keyframes blink-cursor-mode { 0% { opacity: 0; } 50% { opacity: 1; } }
a { color: blue; }
a:hover { text-decoration: none; background-color: lightgreen; color: black; }
#window-1 .point:before { content: " \A                                       "; }
#window-2 .point:before { content: ""; }
