.frame { display: flex; flex-direction: column; position: fixed; font-family: monospace; white-space: pre; left: 0; right: 0; top: 0; bottom: 0; }
.menu-bar { display: none; }
.menu-bar-mode .menu-bar { display: block; }
.window { display: flex; flex-wrap: nowrap; order: 0; flex: 1 1 auto; }
.minibuffer.window { flex: 0 1 auto; height: 1.2em; }
.split-window.horizontally { flex-direction: row; }
.split-window.vertically { flex-direction: column; }
.live.window { position: relative; }
.window > .buffer { position: absolute; overflow: hidden; width: 100%; top: 0; bottom: 1.2em; }
.window > .mode-line { position: absolute; bottom: 0; width: 100%; overflow: hidden; }
.window strong { font-weight: normal; text-shadow: 1px 0 0; }
.minibuffer.window > .buffer { bottom: 0; }
.minibuffer.window > .buffer.minibuffer-inactive-mode + .point { display: none; }
.point { z-index: 1; position: absolute; border: 1px solid; }
.frame.blink-cursor-mode .selected.live.window .point { -webkit-animation: blink-cursor-mode 1s steps(1) infinite; -moz-animation: blink-cursor-mode 1s steps(1) infinite; animation: blink-cursor-mode 1s steps(1) infinite; }
.frame.blink-cursor-mode.keyrepeat .selected.live.window .point { opacity: 1; -webkit-animation: none; -moz-animation: none; animation: none; }
@-webkit-keyframes blink-cursor-mode { 0% { opacity: 0; } 50% { opacity: 1; } }
@keyframes blink-cursor-mode { 0% { opacity: 0; } 50% { opacity: 1; } }
